
<div  style="margin: 10px;">
  <a routerLink="add">
    <button type="button" class="btn rounded-pill btn-primary">Thêm Loại
    </button>
  </a>
</div>
<div class="card">
  <h5 class="card-header">Bảng thương hiệu mô hình</h5>
  <div class="table-responsive text-nowrap">
    <table id="myDataTable" class="myDataTable table table-striped table-bordered" style="width:100%">
      <thead>
        <tr class="text-nowrap" align="center">
          <th>#</th>
          <th>Ảnh</th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" *ngFor="let b of brand;let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td><img [src]="'http://localhost:8080/' + b.img_brand" alt="" style="width: 150px;height: 150px;"></td>
          <td>{{ b.name_brand }}</td>
          <td><span [innerHTML]="b.description_brand"></span></td>
          <td  >
            <a [routerLink]="'edit/' + b.id_brand" style="margin-right:20px">
              <button class="btn btn-sg btn-warning bx  bx-edit-alt" style="font-size: 1.1rem;"></button>
            </a>
            <!-- (click)="showProductDetail(c)" -->
            <button class="btn btn-sg btn-info bx bxs-info-circle"  style="margin-right:20px;font-size: 1.1rem;">

            </button>

            <button class="btn btn-sg btn-danger bx bxs-trash" (click)="deleteBrand(b.id_brand)">

             </button>
        </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Responsive Table -->

