<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
          <div class="col-first">
              <h1>Chi tiết bài viết</h1>
              <nav class="d-flex align-items-center">
                  <a href="">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                  <a href="Blog-Detail/{{detail.id}}">{{detail.title}}</a>
              </nav>
          </div>
      </div>
  </div>
</section>
<!-- End Banner Area -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 posts-list">
                  <div class="single-post row">
                      <div class="col-lg-12">
                          <div class="feature-img">
                              <img class="img-fluid" [src]="'http://localhost:8080/' + detail.img" alt="">
                          </div>
                      </div>
                      <div class="col-lg-3  col-md-3">
                          <div class="blog_info text-right">

                              <ul class="blog_meta list">
                                  <li><a href="#">{{detail.author}}<i class="lnr lnr-user"></i></a></li>
                                  <li><a href="#">{{detail.updated_at|date:'yyyy-MM-dd'}}<i class="lnr lnr-calendar-full"></i></a></li>

                              </ul>
                              <ul class="social-links">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-9 col-md-9 blog_details">
                          <h2>{{detail.title}}</h2>
                          <p class="excert" [innerHTML]="detail.description">
                          </p>

                      </div>
                      <div class="col-lg-12">
                          <div class="row">
                              <div class="col-lg-12 mt-25">
                                  <p [innerHTML]="detail.content" >

                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="comments-area">
                      <h4>05 Bình luận</h4>
                      <div class="comment-list">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="/assets/user-page/img/blog/c1.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h5><a href="#">Emilly Blunt</a></h5>
                                      <p class="date">December 4, 2018 at 3:12 pm </p>
                                      <p class="comment">
                                          Hay quá!
                                      </p>
                                  </div>
                              </div>
                              <div class="reply-btn">
                                  <a href="" class="btn-reply text-uppercase">Trả lời</a>
                              </div>
                          </div>
                      </div>
                      <div class="comment-list left-padding">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="/assets/user-page/img/blog/c2.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h5><a href="#">Elsie Cunningham</a></h5>
                                      <p class="date">December 4, 2018 at 3:12 pm </p>
                                      <p class="comment">
                                          Thật cảm động!
                                      </p>
                                  </div>
                              </div>
                              <div class="reply-btn">
                                  <a href="" class="btn-reply text-uppercase">Trả lời</a>
                              </div>
                          </div>
                      </div>
                      <div class="comment-list left-padding">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="/assets/user-page/img/blog/c3.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h5><a href="#">Annie Stephens</a></h5>
                                      <p class="date">December 4, 2018 at 3:12 pm </p>
                                      <p class="comment">
                                          Ra tiếp đi ad!
                                      </p>
                                  </div>
                              </div>
                              <div class="reply-btn">
                                  <a href="" class="btn-reply text-uppercase">Trả lời</a>
                              </div>
                          </div>
                      </div>
                      <div class="comment-list">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="/assets/user-page/img/blog/c4.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h5><a href="#">Maria Luna</a></h5>
                                      <p class="date">December 4, 2018 at 3:12 pm </p>
                                      <p class="comment">
                                          Tiếp thu kiến thức!
                                      </p>
                                  </div>
                              </div>
                              <div class="reply-btn">
                                  <a href="" class="btn-reply text-uppercase">Trả lời</a>
                              </div>
                          </div>
                      </div>
                      <div class="comment-list">
                          <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                  <div class="thumb">
                                      <img src="/assets/user-page/img/blog/c5.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h5><a href="#">Ina Hayes</a></h5>
                                      <p class="date">December 4, 2018 at 3:12 pm </p>
                                      <p class="comment">
                                          10đ không có nhưng!
                                      </p>
                                  </div>
                              </div>
                              <div class="reply-btn">
                                  <a href="" class="btn-reply text-uppercase">Trả lời</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="comment-form">
                      <h4>Hãy để lại 1 bình luận</h4>
                      <form>

                          <div class="form-group">
                              <textarea class="form-control mb-10" rows="5" name="message" placeholder="Bình luận "
                                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                          </div>
                          <a href="#" class="primary-btn submit_btn">Đăng bình luận</a>
                      </form>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Tìm kiếm bài viết" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Tìm kiếm bài viết'">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                      </span>
                    </div><!-- /input-group -->
                    <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                    <h4 class="widget_title">Loại bài viết</h4>
                    <ul class="list cat-list">
                      <li *ngFor="let c of catepost">
                        <a href="#" class="d-flex justify-content-between">
                          <p>{{c.name_cate}}</p>
                        </a>
                      </li>
                    </ul>
                    <div class="br"></div>
                  </aside>
                  <aside class="single-sidebar-widget newsletter_widget">
                    <h4 class="widget_title">Bản tin</h4>
                    <p>
                      Nhận tất cả các bản tin mới nhất!!!
                    </p>
                    <div class="form-group d-flex flex-row">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nhập email"
                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email'">
                      </div>
                      <a href="#" class="bbtns">Gửi</a>
                    </div>
                    <p class="text-bottom">Bạn có thể bỏ theo dõi bất cứ lúc nào</p>
                  </aside>

                </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->
