<div class="card">
  <h5 class="card-header">Bảng thông tin giao hàng</h5>
  <div class="table-responsive text-nowrap">
    <table id="myDataTable" class="myDataTable table table-striped table-bordered" style="width:100%">
      <thead>
        <tr class="text-nowrap" align="center">
          <th>#</th>
          <th>Tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Lời nhắn</th>
          <th>Thanh toán</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center" *ngFor="let s of shipping;let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{s.name}}</td>
          <td>{{s.email}}</td>
          <td>{{s.phone}}</td>
          <td>{{s.address}}</td>
          <td>{{s.note}}</td>
          <td>{{s.payment}}</td>
          <td><button class="btn btn-sg btn-info bx bxs-info-circle" style="margin-right:20px;font-size: 1.1rem;"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Responsive Table -->
