    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
          <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
              <div class="col-first">
                  <h1>Trang cảm ơn</h1>
                  <nav class="d-flex align-items-center">
                      <a href="">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                      <a href="Thank">Trang cảm ơn</a>
                  </nav>
              </div>
          </div>
      </div>
  </section>
  <!-- End Banner Area -->
  <div style="margin: 0 auto;align-items: center;">
    <h2>Cảm ơn bạn đã mua hàng của chúng tôi!!! Hãy quay lại cửa hàng sớm nhất nhé</h2>

  </div>
